<nz-layout class="configuration-tool">
    <nz-header class="tool-bar">
    </nz-header>
    <nz-layout class="inner-layout">
        <nz-sider class="left-sider" id="#left-sider" nzWidth="20%">
            <div id="stencilContainer" class="stencilContainer">
            </div>
        </nz-sider>
        <nz-content class="midle-content" nzWidth="56%">
            <!-- <div (click) ="tojson()">
                dianwo
            </div> -->
            
            <div id="container" class="graph-container"></div>
        </nz-content>
        <nz-sider class="right-sider" id="#right-sider" nzWidth="24%">
            <div class="right-tool">
                <config-panel-index></config-panel-index>
            </div>
        </nz-sider>
    </nz-layout>
</nz-layout>
